body {
    text-align: center;
    margin: auto;
    max-width: 500px;
    color: #f5efe2;
    background-color: #191D32;
}

h1 {
    margin-top: 5em;
}

.query {
    margin: 0 0 1em 0;
    min-width: 200px;
}

button {
    margin: 1em;
}